In [8]:
%load_ext autoreload
%autoreload 2

import sys

import category_encoders as ce
import pandas as pd

sys.path.append('../')
from utils import read_csv_time_chunks
from steps.base import BaseTransformer

FILES_DIR = '/mnt/ml-team/minerva/talking_data/files/'

CATEGORICAL_FEATURES = ['ip', 'app', 'device', 'os', 'channel']
TARGET_COLUMN = ['is_attributed']

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
train = read_csv_time_chunks(FILES_DIR, days=[8],hours=[4])

100%|██████████| 1/1 [00:07<00:00,  7.04s/it]

read in chunk /mnt/ml-team/minerva/talking_data/files//train_day8_hour4.csv of shape (3545132, 8)

combined dataset shape: (3545132, 8)

In [3]:
train.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,58991,12,1,26,259,2017-11-08 04:00:00,NaN,0
1,184626,18,1,19,121,2017-11-08 04:00:00,NaN,0
2,151871,3,1,9,280,2017-11-08 04:00:00,NaN,0
3,4180,3,1,19,424,2017-11-08 04:00:00,NaN,0
4,231270,9,1,15,466,2017-11-08 04:00:00,NaN,0

In [31]:
X = train[CATEGORICAL_FEATURES].sample(100000)
y = train[TARGET_COLUMN].sample(100000)

# Out of the box

In [ ]:
target_encoder = ce.TargetEncoder(cols=CATEGORICAL_FEATURES)
target_encoder.fit(X,y)
X_ = target_encoder.transform(X)

In [ ]:
X_.head()

In [ ]:
binary_encoder = ce.binary.BinaryEncoder(cols=CATEGORICAL_FEATURES)
binary_encoder.fit(X,y)
X_ = binary_encoder.transform(X)

In [ ]:
X_.head()

In [32]:
from sklearn.model_selection import KFold

class TargetEncoderNSplits(BaseTransformer):
    def __init__(self, n_splits, **kwargs):
        self.k_folds = KFold(n_splits=n_splits)
        self.target_means_map = {}
        
    def _target_means_names(self, columns):
        confidence_rate_names = ['target_mean_{}'.format(column) for column in columns]
        return confidence_rate_names

    def _is_null_names(self, columns):
        is_null_names = ['target_mean_is_nan_{}'.format(column) for column in columns]
        return is_null_names
        
    def fit(self, categorical_features, target, **kwargs):
        feature_columns, target_column = categorical_features.columns, target.columns[0]

        X_target_means = []
        self.k_folds.get_n_splits(target)
        for train_index, test_index in self.k_folds.split(target):
            X_train, y_train = categorical_features.iloc[train_index], target.iloc[train_index]
            X_test, y_test = categorical_features.iloc[test_index], target.iloc[test_index]
            
            train = pd.concat([X_train, y_train], axis=1)
            for column, target_mean_name in zip(feature_columns, self._target_means_names(feature_columns)):
                group_object = train.groupby(column)
                train_target_means = group_object[target_column].mean().\
                    reset_index().rename(index=str, columns={target_column: target_mean_name})
                
                X_test = X_test.merge(train_target_means, on=column, how='left')
            X_target_means.append(X_test)
        X_target_means = pd.concat(X_target_means, axis=0)
        
        for column, target_mean_name in zip(feature_columns, self._target_means_names(feature_columns)):
            group_object = X_target_means.groupby(column)
            self.target_means_map[column] = group_object[target_mean_name].mean().reset_index()
        
        return self
    
    def transform(self, categorical_features, **kwargs):
        columns = categorical_features.columns
        
        for column, target_mean_name, is_null_name in zip(columns,
                                                          self._target_means_names(columns),
                                                          self._is_null_names(columns)):
            
            categorical_features = categorical_features.merge(self.target_means_map[column],
                                                              on=column,
                                                              how='left')
            categorical_features[is_null_name] = pd.isnull(categorical_features[target_mean_name]).astype(int)
            categorical_features[target_mean_name].fillna(0, inplace=True)
        
        return {'numerical_features': categorical_features[self._target_means_names(columns)],
                'categorical_features': categorical_features[self._is_null_names(columns)]}

    def load(self, filepath):
        self.target_encoder = joblib.load(filepath)
        return self

    def save(self, filepath):
        joblib.dump(self.target_encoder, filepath)

        
target_encoder = TargetEncoderNSplits(n_splits=10)
X_ = target_encoder.fit_transform(categorical_features=X, target=y)

In [33]:
X_['numerical_features'].describe()

,target_mean_ip,target_mean_app,target_mean_device,target_mean_os,target_mean_channel
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.000478,0.003581,0.002838,0.003146,0.003312
std,0.016048,0.039525,0.012635,0.018752,0.033490
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.002244,0.000000,0.000000
50%,0.000000,0.000000,0.002244,0.003138,0.000000
75%,0.000000,0.000000,0.002244,0.003467,0.000000
max,1.000000,0.594248,1.000000,0.440476,1.000000